{% load static %}
<!DOCTYPE html>
<html>
{% include "default/head.html" %}
<body>
    {% include "default/navbar.html" %}

    <div style = "margin:20px ">
        <div>
            <h1>發起揪團</h1>
        </div>

        <form method = "POST" action = "/initiate/post_initiate">
            <div class="form-group">
                <label>團名</label>
                <input  name="team_name" type="text" class="form-control" >
            </div>
            <div class="form-group">
                <label>菜單照片</label>
                <input  name="image_path" type="text"  class="form-control">
            </div>
            <div class="form-group">
                <label >描述說明</label>
                <input  name="description" type="text"  class="form-control" >
            </div>
            <div class="form-group">
                <label>截止時間</label>
                <input  name="end_time" type="datetime-local" class="form-control"  value= {{setDate}}>
                <p style = "color: #C0C0C0; font-size: 12px">時間到會自動收團</p>
            </div>
            <input name="author" style = "display:none"  value = {{user.username}}>
            <input type="checkbox" style = "margin-bottom:20px" name="vehicle" value="mail" checked> 自動寄信<br>

            {% csrf_token %}
            <button type="submit" class="btn btn-primary">馬上揪團</button>
        </form>
    </div>

    {% include "default/footer.html" %}
</body>
</html>
